#-- GITIGNORE FILES --#

# Virtual Environment
venv/

# Env Value File
config/settings/local.py
.env

# Log files
*.log

# AWS Setting files
.aws/


# Editor Setting Files (Pycharm, VSCode ...)
.idea/
.vscode/

# Cache Files
__pycache__/
*.pyc

# MacOS System Files
.DS_Store
